@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #0b89e3;
    --light-primary-color: #6425712a;
    --secondary-color: #c6b9c1;
    --text-color:#393636;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
}


.container {
    width: 95%;
    margin: auto;
}

.text-primary{
    color: var(--text-color);
}

.bg-primary{
    background-color: var(--primary-color);
}

.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* distance below text */
    width: 100%;
    height: 2px;
    background-color: #2563eb; /* Tailwind blue-600 */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.nav-link.active:hover::after,
.nav-link.active::after {
    transform: scaleX(1);
}